.App {
  text-align: center;
}
label {
  display: block;
  margin-top: 10px;
}
/* .card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
} */
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 18rem 
}
.signUpCard {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 18rem 
}

.aboutCard {
  padding: 15px;
  width: 19rem;
  height: 2rem
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.homeContainer {
  margin-top: 25vh;
  margin-left: 10vh
}

.card-deck {
  height: 450px;
  width: 300px;
  margin: 0 100px 25px 50px;
}

.card-img-top {
  height: 200px;
  width: 250px
}

.cafePage {
  background: rgb(60, 60, 60);
  color: whitesmoke;
  padding: 10px
  
}

.cafeImage {
  border: 1px solid whitesmoke;
  padding: 20px;
  margin-left: 50px;

}

.cafeInfo {
  margin-left: 40px;
  margin-top: 50px;
}

.cafeTop {
  margin-top: 40px;
}

.cafePage {
  margin-top: 10vh;
}

.favoritesRow {
  margin-top: 5vh;
}

.yelpDisclaimer {
  margin-top: 5vh;
  
}

.commentPage {
  margin-top: 10vh;
  position: relative
  /* border-top: 1px solid gray */
}

.comment {
  border-bottom: 1px solid gray;
  padding: 10px
}

.commentForm {
position: static; 
bottom: 0;
}

.commentFormz {
  width: 25vw;
}

.searchContainer {
margin-top: 5vh;
text-align: center
}

.imagesHome {
  text-align: center
}

.searchForm {
  width: 50vw;
  text-align: center;
  margin-bottom: 10px;
}

.searchFormContainer {
  margin-left: 14vw
  /* margin-left: 16%;
  margin-bottom: 10px */
}

.logInContainer {
  margin-top: 5vh
}

.email {
    width: 200px;
    word-wrap: break-word;
}

/* //media queries */
@media only screen and (max-width: 600px){
.coffeeCup {
 display: none;
}
.homeContainer{
  text-align: center;
  margin-top: 20px;
}
.searchFormContainer {
  margin-left: 8vw
}
.searchForm {
  width: 75vw;
  text-align: center;
}
.commentForm {
  position: static; 
  }
  .commentFormz {
    width: 60vw;
  }


}