.roundedButton{
   background: rgb(60, 60, 60);
   color: whitesmoke;
   border: 3px solid rgb(60, 60, 60);
   border-radius: 30px;
   padding: 0px 20px;

}


.profileDiv{
    height: 325px;
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    color: whitesmoke;
    background-color: rgb(60, 60, 60);
    text-align: center; 
    padding: 30px;
}



.profileBorder {
    border: 1px solid whitesmoke;
    height: 260px;
padding: 20px
   
}

.cafeText {
    text-align: center;
    color: whitesmoke;
    background-color: rgb(60, 60, 60);
    margin-right: 25vw;
    margin-left: 25vw
}